<!--The content below is only a placeholder and can be replaced.-->
     <div class="header">
         <img src="assets/logo.png" alt="Amex logo">

        </div>
        <div class="container">
                
        <router-outlet></router-outlet>
</div>

<div class="footer">
        <div class="footerTitle">  American Express </div>
 
    <ul>
        <li> <a href="#">Website Rules and Regulations</a></li> 
        <li> <a href="#">Trademarks</a></li>  
        <li> <a href="#">Sitemap</a></li> 
</ul>      
    
    <div>    Copyright © 2019 American Express Company | American Express Banking Corp. </div>
</div>