.header{
    height: 40px;
    width:100%;
    display:  block;
    background:  #006fcf;


}

.header img{
    width:40px;
    height:  auto;
}

.footer{
    padding: 30px;
    margin:50px 20px 0px 20px;
    border-top:1px solid #cccccc;
}
.footer ul li{ list-style: none; display:  inline; margin: 10px 10px 10px 0;}
.footer li a{color: #006fcf; font-size: 13px;}

.footer .footerTitle{
    font-weight: 800;
    font-size: 26px;
    color: #006fcf;
}
.footer ul{
    margin: 0;
    padding: 0;
}
.footer div{
    font-size: 10px;
    font-weight: 300;
}