<div class="row">
  <div class="col-md-12">
    <h2>Log Search</h2>
    <form name="form" >
      <div class="row">        <div class="col-md-2">
          <mat-form-field>
              <mat-label>Time</mat-label>
              <select matNativeControl required>
                <option value="volvo">All Time</option>
                <option value="audi">Audi</option>
              </select>
            </mat-form-field>
        </div>
          <div class="col-md-3">
          <mat-checkbox>Fatal</mat-checkbox>
          <mat-checkbox>Error</mat-checkbox>
          <mat-checkbox>Warn</mat-checkbox>
          <mat-checkbox>Debug</mat-checkbox>
          <mat-checkbox>Info</mat-checkbox>
        </div>
        <div class="col-md-2">
           <mat-form-field>
              <mat-label>Environment</mat-label>
              <select matNativeControl required>
                <option value="volvo">Silver</option>
                <option value="audi">Audi</option>
              </select>
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-form-field>
                <mat-label>Host</mat-label>
                <select matNativeControl required>
                  <option value="volvo">Any</option>
                  <option value="audi">Audi</option>
                </select>
              </mat-form-field>
              </div>
              <div class="col-md-2">
              <mat-form-field>
                  <mat-label>User</mat-label>
                  <select matNativeControl required>
                    <option value="volvo">Any</option>
                    <option value="audi">Audi</option>
                  </select>
                </mat-form-field>
      </div>
</div>
<mat-form-field style="margin-top:15px;">
    <mat-label>Log Message Contains</mat-label>
    <input matInput placeholder="Devotion nation" value="">
  </mat-form-field>

      <button mat-stroked-button>Refresh</button>
    </form>
</div>
</div>